asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==5.1.1
diff-match-patch==20230430
distlib==0.3.8
Django==4.2.16
django-bootstrap-v5==1.0.11
django-bootstrap5==24.3
django-crispy-forms==2.3
django-formtools==2.5.1
django-import-export==4.1.1
django-reversion==5.1.0
docutils==0.21.2
filelock==3.15.4

# Remove or correct this line to fit your project:
# -e d:\python library\friends

future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
httplib2==0.9.2
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
keyring==25.4.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
mysqlclient==2.2.4
nh3==0.2.18
numpy==2.1.2
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pipenv==2024.0.1
pkginfo==1.10.0
platformdirs==4.2.2
pluggy==1.5.0
Pygments==2.18.0
pytest==8.3.3
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.0
ratelim==0.1.6
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.8.1
scipy==1.14.1
setuptools==74.1.2
six==1.16.0
sketchpy==0.1.7
soupsieve==2.6
sqlparse==0.5.1
svg.path==6.3
svgpathtools==1.6.1
svgwrite==1.4.3
tablib==3.5.0
tqdm==4.66.5
turtle==0.0.1
twine==5.1.1
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.26.3
wheel==0.44.0
xadmin @ git+https://github.com/sshwsfc/xadmin.git@291b63bad248a3958f8cdfbac63bd9bc54028e9b
xgboost==2.1.1
zipp==3.20.2
gunicorn==20.1.0  # or whatever version you prefer
